@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

#text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#text:first-of-type {
  animation: showup 7s infinite;
}

#text:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

#text:last-of-type span {
  margin-left: 0px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 225px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 225px;
  }
}
@media (max-width: 639px) {
  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 125px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 125px;
    }
  }
}
